<div style="text-align:center">
    <h1>
        Using Dependeny Injection: Fetching data from a API using a service.
    </h1>
</div>



<div class="container" fxLayout="row" fxLayout.lt-sm="row" fxLayoutAlign="space-around">


    <div style="padding: 5px" *ngFor="let user of users">
        <img [src]="user.picture.thumbnail" alt="user.name photo">
        <p>{{user.name.first + " " + user.name.last | uppercase}}</p>
        <p>{{user.email}}</p>
        <p>{{user.phone}}</p>
    </div>

    <div style="padding: 5px" *ngFor="let user of users">
        <img [src]="user.picture.thumbnail" alt="user.name photo">
        <p>{{user.name.first + " " + user.name.last | uppercase}}</p>
        <p>{{user.email}}</p>
        <p>{{user.phone}}</p>
    </div>
</div>